<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column p-3 is-one-fifth-desktop is-half-tablet css-1ezx0xe">
          <a class="card css-5ercfm" target="_blank" href="https://jrroofers.com">
            <%# <div class="card-image css-mrycuj">
              <figure class="image is-5by4 css-144vlu9">
                <img src="/static/images/showcase/jrroofers.jpg" style="height:auto">
              </figure>
            </div> %>
            <div class="card-content has-text-centered css-1yd5s17">
              <h1 class="title css-jvpzut">JR Roofing</h1>
              <h2 class="Themes__subtitle subtitle css-69pcft">Roofing services for your home or business.</h2>
            </div>
          </a>
        </div>
        <div class="column p-3 is-one-fifth-desktop is-half-tablet css-1ezx0xe">
          <a class="card css-5ercfm" target="_blank" href="https://jrroofers.com">
            <%# <div class="card-image css-mrycuj">
              <figure class="image is-5by4 css-144vlu9">
                <img src="/static/images/showcase/jrroofers.jpg" style="height:auto">
              </figure>
            </div> %>
            <div class="card-content has-text-centered css-1yd5s17">
              <h1 class="title css-jvpzut">JR Roofing</h1>
              <h2 class="Themes__subtitle subtitle css-69pcft">Roofing services for your home or business.</h2>
            </div>
          </a>
        </div>
        <div class="column p-3 is-one-fifth-desktop is-half-tablet css-1ezx0xe">
          <a class="Themes__card card css-5ercfm" target="_blank" href="https://jrroofers.com">
            <%# <div class="card-image css-mrycuj">
              <figure class="image is-5by4 css-144vlu9">
                <img src="/static/images/showcase/jrroofers.jpg" style="height:auto">
              </figure>
            </div> %>
            <div class="card-content has-text-centered css-1yd5s17">
              <h1 class="title css-jvpzut">JR Roofing</h1>
              <h2 class="Themes__subtitle subtitle css-69pcft">Roofing services for your home or business.</h2>
            </div>
          </a>
        </div>
        <div class="column p-3 is-one-fifth-desktop is-half-tablet css-1ezx0xe">
          <a class="Themes__card card css-5ercfm" target="_blank" href="https://jrroofers.com">
            <%# <div class="card-image css-mrycuj">
              <figure class="image is-5by4 css-144vlu9">
                <img src="/static/images/showcase/jrroofers.jpg" style="height:auto">
              </figure>
            </div> %>
            <div class="card-content has-text-centered css-1yd5s17">
              <h1 class="title css-jvpzut">JR Roofing</h1>
              <h2 class="Themes__subtitle subtitle css-69pcft">Roofing services for your home or business.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <article class="panel is-primary">
            <p class="panel-heading">Primary</p>
            <div class="panel-block">
              <a class="social" href="https://t.me/alroniks" target="_blank">
                <p class="title is-2">Telegram</p>
                <p class="subtitle is-4 is-marginless">About workdays of the programmer</p>
              </a>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="panel is-primary">
            <p class="panel-heading">Primary</p>
            <div class="panel-block">
              <a class="social" href="https://t.me/alroniks" target="_blank">
                <p class="title is-2">Telegram</p>
                <p class="subtitle is-4 is-marginless">About workdays of the programmer</p>
              </a>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="panel is-primary">
            <p class="panel-heading">Primary</p>
            <div class="panel-block">
              <a class="social" href="https://t.me/alroniks" target="_blank">
                <p class="title is-2">Telegram</p>
                <p class="subtitle is-4 is-marginless">About workdays of the programmer</p>
              </a>
            </div>
          </article>
        </div>
      </div>
      <div class="columns">
        <main class="column is-four-fifths">
          <li class="boxed media service feed-record">
            <div class="media-left">
              <figure class="image is-48x48 " title="Skedda"><a class="prefetch" href="/skedda-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470"><img class="logo" src="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/medium.png?1597107470" alt="Skedda logo" loading="lazy" width="48" height="48"></a></figure>
              <div data-react-class="StoryVote" data-react-props="{&quot;id_hash&quot;:&quot;qb6dno25swjf&quot;,&quot;points&quot;:34,&quot;vote_id&quot;:null,&quot;vote_points&quot;:null}" data-react-cache-id="StoryVote-0" class="StoryVoteWrapper"><div class="StoryVote" title="Click to vote"><i class="fa fa-caret-up"></i><div class="points">34</div></div></div>
            </div>
            <div class="media-content">
              <div class="title-columns columns is-gapless is-mobile">
                <h3 class="title is-5 track-visited">
                  <a class="track-event" data-event-name="click" data-ref="story" data-service-slug="skedda" href="https://www.skedda.com/" target="_blank">
                    Skedda
                  </a>
                </h3>
              </div>
              <p class="tagline">
                Offices, co-working spaces, universities, sports venues, studios &amp; churches are just some of the places that manage the use of their rooms, courts, studios, halls and all other 'spaces' with Skedda.
                <a class="prefetch details-link" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470" href="/skedda-alternatives">→</a>
              </p>
              <ul class="events">
                <li class="categories">
                  📂
                  <a href="/best-online-bookings-software">Online Bookings</a>
                  <span class="inline-separator is-narrow">/</span>
                  <a href="/best-booking-software-software">Booking Software</a>
                </li>
                <div class="is-hidden-mobile">
                  <li>🏁 A good alternative to: <a class="prefetch" href="/condeco-desk-booking-software-alternatives">Condeco Desk Booking Software</a>, <a class="prefetch" href="/smartway2-alternatives">Smartway2</a>, <a class="prefetch" href="/meetio-room-alternatives">Meetio Room</a>, <a class="prefetch" href="/condeco-alternatives">Condeco</a>, <a class="prefetch" href="/supersaas-alternatives">SuperSaaS</a></li>
                  <li>▶ <div data-react-class="videos/VideoModal" data-react-props="{&quot;video&quot;:{&quot;id&quot;:&quot;xdWBsfn5G6w&quot;,&quot;type&quot;:&quot;video&quot;,&quot;attributes&quot;:{&quot;code&quot;:&quot;xdWBsfn5G6w&quot;,&quot;platform&quot;:&quot;youtube&quot;,&quot;kind&quot;:&quot;review&quot;,&quot;name&quot;:&quot;Skedda | The smartest way to manage your space&quot;}}}" data-react-cache-id="videos/VideoModal-0" class="inline"><a title="Skedda | The smartest way to manage your space">Review</a></div> - Skedda | The smartest way to manage your space</li>
                </div>
              </ul>
            </div>
          </li>
          <li class="boxed media service feed-record">
            <div class="media-left">
              <figure class="image is-48x48 " title="Skedda"><a class="prefetch" href="/skedda-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470"><img class="logo" src="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/medium.png?1597107470" alt="Skedda logo" loading="lazy" width="48" height="48"></a></figure>
              <div data-react-class="StoryVote" data-react-props="{&quot;id_hash&quot;:&quot;qb6dno25swjf&quot;,&quot;points&quot;:34,&quot;vote_id&quot;:null,&quot;vote_points&quot;:null}" data-react-cache-id="StoryVote-0" class="StoryVoteWrapper"><div class="StoryVote" title="Click to vote"><i class="fa fa-caret-up"></i><div class="points">34</div></div></div>
            </div>
            <div class="media-content">
              <div class="title-columns columns is-gapless is-mobile">
                <h3 class="title is-5 track-visited">
                  <a class="track-event" data-event-name="click" data-ref="story" data-service-slug="skedda" href="https://www.skedda.com/" target="_blank">
                    Skedda
                  </a>
                </h3>
              </div>
              <p class="tagline">
                Offices, co-working spaces, universities, sports venues, studios &amp; churches are just some of the places that manage the use of their rooms, courts, studios, halls and all other 'spaces' with Skedda.
                <a class="prefetch details-link" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470" href="/skedda-alternatives">→</a>
              </p>
              <ul class="events">
                <li class="categories">
                  📂
                  <a href="/best-online-bookings-software">Online Bookings</a>
                  <span class="inline-separator is-narrow">/</span>
                  <a href="/best-booking-software-software">Booking Software</a>
                </li>
                <div class="is-hidden-mobile">
                  <li>🏁 A good alternative to: <a class="prefetch" href="/condeco-desk-booking-software-alternatives">Condeco Desk Booking Software</a>, <a class="prefetch" href="/smartway2-alternatives">Smartway2</a>, <a class="prefetch" href="/meetio-room-alternatives">Meetio Room</a>, <a class="prefetch" href="/condeco-alternatives">Condeco</a>, <a class="prefetch" href="/supersaas-alternatives">SuperSaaS</a></li>
                  <li>▶ <div data-react-class="videos/VideoModal" data-react-props="{&quot;video&quot;:{&quot;id&quot;:&quot;xdWBsfn5G6w&quot;,&quot;type&quot;:&quot;video&quot;,&quot;attributes&quot;:{&quot;code&quot;:&quot;xdWBsfn5G6w&quot;,&quot;platform&quot;:&quot;youtube&quot;,&quot;kind&quot;:&quot;review&quot;,&quot;name&quot;:&quot;Skedda | The smartest way to manage your space&quot;}}}" data-react-cache-id="videos/VideoModal-0" class="inline"><a title="Skedda | The smartest way to manage your space">Review</a></div> - Skedda | The smartest way to manage your space</li>
                </div>
              </ul>
            </div>
          </li>
          <li class="boxed media service feed-record">
            <div class="media-left">
              <figure class="image is-48x48 " title="Skedda"><a class="prefetch" href="/skedda-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470"><img class="logo" src="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/medium.png?1597107470" alt="Skedda logo" loading="lazy" width="48" height="48"></a></figure>
              <div data-react-class="StoryVote" data-react-props="{&quot;id_hash&quot;:&quot;qb6dno25swjf&quot;,&quot;points&quot;:34,&quot;vote_id&quot;:null,&quot;vote_points&quot;:null}" data-react-cache-id="StoryVote-0" class="StoryVoteWrapper"><div class="StoryVote" title="Click to vote"><i class="fa fa-caret-up"></i><div class="points">34</div></div></div>
            </div>
            <div class="media-content">
              <div class="title-columns columns is-gapless is-mobile">
                <h3 class="title is-5 track-visited">
                  <a class="track-event" data-event-name="click" data-ref="story" data-service-slug="skedda" href="https://www.skedda.com/" target="_blank">
                    Skedda
                  </a>
                </h3>
              </div>
              <p class="tagline">
                Offices, co-working spaces, universities, sports venues, studios &amp; churches are just some of the places that manage the use of their rooms, courts, studios, halls and all other 'spaces' with Skedda.
                <a class="prefetch details-link" data-prefetch="https://www.saashub.com/images/app/service_logos/17/0516ce762e3e/large.png?1597107470" href="/skedda-alternatives">→</a>
              </p>
              <ul class="events">
                <li class="categories">
                  📂
                  <a href="/best-online-bookings-software">Online Bookings</a>
                  <span class="inline-separator is-narrow">/</span>
                  <a href="/best-booking-software-software">Booking Software</a>
                </li>
                <div class="is-hidden-mobile">
                  <li>🏁 A good alternative to: <a class="prefetch" href="/condeco-desk-booking-software-alternatives">Condeco Desk Booking Software</a>, <a class="prefetch" href="/smartway2-alternatives">Smartway2</a>, <a class="prefetch" href="/meetio-room-alternatives">Meetio Room</a>, <a class="prefetch" href="/condeco-alternatives">Condeco</a>, <a class="prefetch" href="/supersaas-alternatives">SuperSaaS</a></li>
                  <li>▶ <div data-react-class="videos/VideoModal" data-react-props="{&quot;video&quot;:{&quot;id&quot;:&quot;xdWBsfn5G6w&quot;,&quot;type&quot;:&quot;video&quot;,&quot;attributes&quot;:{&quot;code&quot;:&quot;xdWBsfn5G6w&quot;,&quot;platform&quot;:&quot;youtube&quot;,&quot;kind&quot;:&quot;review&quot;,&quot;name&quot;:&quot;Skedda | The smartest way to manage your space&quot;}}}" data-react-cache-id="videos/VideoModal-0" class="inline"><a title="Skedda | The smartest way to manage your space">Review</a></div> - Skedda | The smartest way to manage your space</li>
                </div>
              </ul>
            </div>
          </li>
        </main>
        <aside class="column">
          <div class="boxed sidebar-box">
            <h3 class="title section-title">Featured</h3>
            <ul class="sidebar-services-list">
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/143/k3wl8xdtqg6g/large.png?1586175985" href="/boardbell-alternatives">
                  <%# <span class="logo">
                    <img alt="BoardBell icon" src="https://www.saashub.com/images/app/service_logos/143/k3wl8xdtqg6g/small.png?1586175985">
                  </span> %>
                  BoardBell
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/11/eac1abb8bb1a/large.png?1591977507" href="/intervals-alternatives">
                  <%# <span class="logo">
                    <img alt="Intervals icon" src="https://www.saashub.com/images/app/service_logos/11/eac1abb8bb1a/small.png?1591977507">
                  </span> %>
                  Intervals
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/150/axx25jv5fm9m/large.png?1591948783" href="/99-remote-jobs-alternatives">
                  <%# <span class="logo">
                    <img alt="99 Remote Jobs icon" src="https://www.saashub.com/images/app/service_logos/150/axx25jv5fm9m/small.png?1591948783">
                  </span> %>
                  99 Remote Jobs
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/50/7290a466d3b1/large.png?1558025377" href="/packetriot-alternatives">
                  <%# <span class="logo">
                    <img alt="Packetriot icon" src="https://www.saashub.com/images/app/service_logos/50/7290a466d3b1/small.png?1558025377">
                  </span> %>
                  Packetriot
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/30/b6bc3d934f3b/large.png?1550189502" href="/voipstudio-alternatives">
                  <%# <span class="logo">
                    <img alt="VoIPstudio icon" src="https://www.saashub.com/images/app/service_logos/30/b6bc3d934f3b/small.png?1550189502">
                  </span> %>
                  VoIPstudio
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/41/2705a8fb505f/large.png?1580328565" href="/typesense-alternatives">
                  <%# <span class="logo">
                    <img alt="Typesense icon" src="https://www.saashub.com/images/app/service_logos/41/2705a8fb505f/small.png?1580328565">
                  </span> %>
                  Typesense
                </a>
              </li>
              <li class="service is-small">
                <a class="prefetch" data-prefetch="https://www.saashub.com/images/app/service_logos/0/65464adece8c/large.png?1525413772" href="/youneedabudget-alternatives">
                  <%# <span class="logo">
                    <img alt="YouNeedABudget icon" src="https://www.saashub.com/images/app/service_logos/0/65464adece8c/small.png?1525413772">
                  </span> %>
                  YouNeedABudget
                </a>
              </li>
              </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
</body>
sdfsdf
<br>
sdfsdffdsf
<br>
<br>
dsf
<br>
sdfsdffdsfsdf
<br>
<br>
dsfs<br>
fullheightsd<br>
fullheightsf<br>
sdfsdffdsfsdfsd<br>
fullheight<br>
<br>
<br>
<br>
dsfs<br>
fullheightsdf<br>
sdfsdffdsf<br>
f<br>
dsffs<br>
fullheightsdf<br>
sdfsdffdsfsdfsdf<br>
<br>
<br>
dsffss

